{% extends "base.html" %} {% block content %}
<div class="container container-wrapper py-3">
  <div class="p-4 content-wrapper d-flex justify-content-center">
    <div class="header mb-3">
      <h1>{{ telp }}</h1>
    </div>

    <div class="d-grid gap-3">
      <a
        class="btn btn-success"
        href="https://api.whatsapp.com/send?phone={{ telp }}&text=Hai%20kak...%F0%9F%98%8A"
      >
        Text via Whatsapp
      </a>
      <a class="btn btn-danger" href="tel:{{ telp }}">Call via Phone</a>
    </div>
  </div>
</div>
{% endblock %}
