{% extends "base.html" %} {% block content %}
    <div class="container container-wrapper py-3">
      <div class="p-4 content-wrapper d-flex justify-content-center">
        <div class="header mb-3">
          <h1>Welcome to Shortcut Caller</h1>
        </div>
        <div>
          <input type="text" name="number" class="form-control" id="phonenumber" placeholder="Type Phone Number...">
          <div class="d-grid gap-2 mt-3">
            <button id="submit" class="btn btn-primary" onClick="getDetail()">Submit</button>
          </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block custom_js %}
<script>
  function getDetail(){
    const number = document.getElementById('phonenumber').value;
    if (number){
      window.location = `/${number}`;
      return
    }

    alert("Phone Number Cannot be Empty")
  }
</script>
{% endblock %}
